<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.project.harsh.fblind"
    android:versionCode="44"
    android:versionName="2.0.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
		
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
	<uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <supports-screens android:resizeable="true"
        			  android:smallScreens="true"
        			  android:normalScreens="true"
        			  android:largeScreens="true"
        			  android:xlargeScreens="true"
        			  android:anyDensity="true"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/appppps"
        android:label="Dristhi"
        android:theme="@style/AppTheme">
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:name="org.project.harsh.fblind.Main"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        
        </activity>


        <activity
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:name="org.project.harsh.fblind.carry"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MusicPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>


        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.language"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.BrowserPageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.yo"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.Settings"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MusicPlayerArtists"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.Messages"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MessagesInbox"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MessagesSent"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MessagesSentDeleteAll"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MessagesCompose"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MessagesDelete"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.MessagesInboxDeleteAll"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.Calls"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.CallsMake"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.CallsLogs"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.CallsLogsDelete"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.Contacts"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.ContactsCreate"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.ContactsDelete"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="Project"
            android:name="org.project.harsh.fblind.ContactsList"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.InputKeyboard"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.InputKeyboardTalkback"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateVisible"/>
        
        <activity
            android:launchMode="singleTask"
            android:label="@string/title_activity_main"
            android:name="org.project.harsh.fblind.InputVoice"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <service android:enabled="true" android:name="org.project.harsh.fblind.BlindCommunicatorService"/>

        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver android:name="org.project.harsh.fblind.SmsReceiver"
                android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver android:name="org.project.harsh.fblind.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name="org.project.harsh.fblind.ComposeSmsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />                
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>

        <!-- Service that delivers messages from the phone "quick response" -->
        <service android:name="org.project.harsh.fblind.HeadlessSmsSendService"
                 android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
                 android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
    </application>
</manifest>
